/*
Progress animation
sourced from: https://codepen.io/Golmote/pen/WNdXaP
*/
.progress {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 10px;
  width: 15px;
  height: 15px;
}

@keyframes progress-part1 {
  0% {
    transform: translate(0, 0);
    box-shadow: 0 0 0 0 #333;
  }
  12% {
    transform: translate(5px, -5px);
    box-shadow: -10px 10px 0 #333;
  }
  25% {
    transform: translate(5px, 5px);
    box-shadow: -10px -10px 0 #333;
  }
  38% {
    transform: translate(-5px, 5px);
    box-shadow: 10px -10px 0 #333;
  }
  50% {
    transform: translate(0, 0);
    box-shadow: 0 0 0 #333;
  }
  62% {
    transform: translate(5px, 5px);
    box-shadow: -10px -10px 0 #333;
  }
  75% {
    transform: translate(5px, -5px);
    box-shadow: -10px 10px 0 #333;
  }
  88% {
    transform: translate(-5px, -5px);
    box-shadow: 10px 10px 0 #333;
  }
  100% {
    transform: translate(0, 0);
    box-shadow: 0 0 0 #333;
  }
}
@keyframes progress-part2 {
  0% {
    transform: translate(0, 0);
    box-shadow: 0 0 0 #333;
  }
  12% {
    transform: translate(5px, 5px);
    box-shadow: -10px -10px 0 #333;
  }
  25% {
    transform: translate(-5px, 5px);
    box-shadow: 10px -10px 0 #333;
  }
  38% {
    transform: translate(-5px, -5px);
    box-shadow: 10px 10px 0 #333;
  }
  50% {
    transform: translate(0, 0);
    box-shadow: 0 0 0 #333;
  }
  62% {
    transform: translate(-5px, 5px);
    box-shadow: 10px -10px 0 #333;
  }
  75% {
    transform: translate(5px, 5px);
    box-shadow: -10px -10px 0 #333;
  }
  88% {
    transform: translate(5px, -5px);
    box-shadow: -10px 10px 0 #333;
  }
  100% {
    transform: translate(0, 0);
    box-shadow: 0 0 0 #333;
  }
}

.progress:before,
.progress:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 5px;
  height: 5px;
  background: #333;
  transform-origin: 50% 50%;
  box-shadow: 0 0 0 #000;
}
.progress:before {
  animation: progress-part1 3s ease infinite;
}
.progress:after {
  animation: progress-part2 3s ease infinite;
}

.btn {
  background-color: lightgray;
  border: none;
  border-radius: 0.3em;
  padding: 0.3em;
  color: black;
  cursor: pointer;
}
